body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
}

ul li {
  margin-bottom: 1.5rem;
}
